{% extends "base.html" %}

{% block title %} SDI-22 {% endblock %}

{% block content %} 
    {% if notes %}
        <h2> <font color="white"> Notes </font> </h2>
        <table>
            {% for note in notes %}
                <tr>
                    <td> <font color="white">{{ note.title }}</font> </td> 
                    <td> <font color="white"> <a href="{% url 'note_description' note.id %}"> Show </a> </font> </td> 
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2> <font color="white"> No notes </font> </h2>
    {% endif %}
{% endblock %}
