<html>
    <head>
        <title>{% block title %}{% endblock %} </title>
    </head>
    <body onLoad="init();" style="background-color: black;">
       <center>
            <H1>  <font color="white">Selivanov Dmitry (AndroidDev)</font>   </H1> 
        </center>   

        {% block content %}{% endblock %}

        <footer>
            <center>
                <a href="http://www.vk.com/id86410922">VK</a>
                <a href="https://plus.google.com/u/0/100775358445940620521/posts"> G+ </a>
            </center>
        </footer>
    </body>
</html>
