{% load staticfiles %}  
<html>
    <head>
        <title>{% block title %}{% endblock %} </title>
        <link rel="stylesheet" type="text/css" href="{% static 'sdi22/base_style.css' %}"/>
    </head>
    <body onLoad="init();">
        <div class="wrapper">
            <center>
                <H1>  <font color="white">Selivanov Dmitry (AndroidDev)</font>   </H1> 
            </center>   
            
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>

            <div class="footer">
                <center>
                    <a href="http://www.vk.com/id86410922">VK</a>
                    <a href="https://plus.google.com/u/0/100775358445940620521/posts"> G+ </a>
                </center>
            </div>
        </div>
    </body>
</html>
